body{
    display: flex;
    height: 120vh;
    justify-content: center;
    align-items: center;
    background:rgb(26, 92, 98);
  }
.cont {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f6f6e9;
  }
  
  h1 {
    font-size: 2em;
    margin-top:  1px;
  }
  
  img {
    margin-top: 5px;
    align-items: center;
 
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  label {
    font-size: 1.2em;
  }
  
.gender {
    display: flex;
    align-items: center;
    display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
  }
  
  .gender label {
    margin-right: 10px;
  }
  
  .gender select {
  display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
  }
  
  .gender select option:first-of-type {
    color: #aaa;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"]
  {
    display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 0px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="date"] {
    display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 80%;
    padding: 5px;
    margin-top: 2px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 1.2em;
    cursor: pointer;
  }

input[type="submit"]:hover {
    background-color: #3e8e41;
}
  
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}