body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:rgb(26, 92, 98);
  }
.cont {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8ec;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-top: 0;
}

form {
    margin-top: 20px;
}

input[type="email"] {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
